<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="PROYECTO_ELECTRODOMESTICOS.Properties.Settings.DB_Local_ImagesConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\34694\source\repos\PROYECTO_ELECTRODOMESTICOS\PROYECTO_ELECTRODOMESTICOS\ProjectoDB\SQLData\LocalImages\LoaclImagesDB\DB_Local_Images.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="PROYECTO_ELECTRODOMESTICOS.Properties.Settings.mydbConnectionString"
   connectionString="server=localhost;user id=root;password=1234;persistsecurityinfo=True;database=mydb"
   providerName="MySql.Data.MySqlClient" />
  <add name="PROYECTO_ELECTRODOMESTICOS.Properties.Settings.mydbConnectionString1"
   connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=mydb;allowuservariables=True"
   providerName="MySql.Data.MySqlClient" />
 </connectionStrings>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>